.videoFooter {
  position: relative;
  color: white;
  bottom: 50px;
  display: flex;
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
}

@keyframes spinTheRecord {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
